Grammer(
    single_char_tokens: [
        ["&", "AMP"],
        ["|", "PIPE"],
        ["+", "PLUS"],
        ["-", "MINUS"],
        ["*", "STAR"],
        ["/", "SLASH"],
        [">", "GT"],
        ["<", "LT"],
        ["=", "EQ"],
        ["(", "L_PAREN"],
        [")", "R_PAREN"],
        ["{", "L_BRACE"],
        ["}", "R_BRACE"],
        ["!", "EXCLAMATION"],
        [".", "DOT"],
        [":", "COLON"],
        ["\n", "NL"],
        [",", "COMMA"],
    ],
    multi_char_tokens: [
        ["==", "EQEQ"],
        [">=", "GTEQ"],
        ["<=", "LTEQ"],
        ["&&", "AMPAMP"],
        ["||", "PIPEPIPE"]
    ],
    keywords: [
        "or",
        "and",
        "print",
        "let",
        "if",
        "while",
        "fun",
        "int",
        "float",
        "string",
        "bool"
    ],
    literals: [
        "INT",
        "FLOAT",
        "STRING",
    ],
    tokens: [
        "ERROR",
        "IDENT",
        "WHITESPACE",
        "COMMENT",
    ],
    nodes: [
        "SOURCE_FILE",
        "EXPR_STMT",
        "PAT_EXPR",
        "PRINT_STMT",
        "LET_STMT",
        "BLOCK_STMT",
        "LIT_PAT",
        "IDENT_PAT",
        "ASSIGN_EXPR",
        "IF_STMT",
        "WHILE_STMT",
        "BIN_EXPR",
        "PREFIX_EXPR",
        "PAREN_EXPR",
        "FUNC_ITEM",
        "FUNC_PARAM",
        "FUNC_RETURN",
        "TYPE_BIND",
        "PATH_TYPE",
        "CONCRETE_TYPE",
    ]
)
